/* Navbar common styling */
.navbar {
  padding: 10px 20px;
}

/* Common styling for all navbar items and site name */
.nav-item-custom,
.site-name {
  color: grey;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Hover effect for all navbar links and site name */
.nav-item-custom:hover,
.site-name:hover {
  color: white;
}

/* Active link styling */
.nav-item-custom.active,
.site-name.active {
  color: white; /* Keep the active link white */
}

/* Ensure proper alignment for navbar brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

.ms-auto {
  margin-left: auto;
}

/* Ensure responsive navbar on smaller screens */
.navbar-collapse {
  justify-content: flex-end;
}
